<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Register</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">

</head>
<body>
    <div class="text-center">
        <h1>Register</h1>
    </div>
    <form th:action="@{/ConfirmToken}" th:object="${registerRequest}" th:method="GET"
          class="container-fluid form-inline" style="max-width: 380px; margin: 0 auto">

        <label style="padding:15px 15px 0 0" for="firstName">First Name</label>:
        <div class="form-group">
            <input type="text" id="firstName" placeholder="Firstname" class="form-control" th:field="*{firstName}"
                   required/>

            <label style="padding:15px 15px 0 0" for="lastName">Last Name</label>:
            <input type="text" id="lastName" placeholder="Lastname" class="form-control" th:field="*{lastName}"
                   required/><br/>
        </div>


        <div class="form-group">
            <label style="padding:15px 15px 0 0" for="email">Email</label>:
            <input type="email" id="email" placeholder="Email" class="form-control" th:field="*{email}"
                   required/><br/>
        </div>

        <div class="form-group">
            <label style="padding:15px 15px 0 0" for="password">Password</label>:
            <input type="password" id="password" placeholder="Password" class="form-control" th:field="*{password}"
                   required/><br />

            <label style="padding:15px 15px 0 0" for="validatePassword">Validate Password</label>:
            <input type="password" id="validatePassword" placeholder="Validate Password" class="form-control"
                   th:field="*{validatePassword}" required/><br />
        </div>

        <div class="form-group">
            <label style="padding:15px 15px 0 0" for="dob">Date of Birth(YYYY-MM-DD)</label>:
            <input type="date" id="dob" class="form-control" th:field="*{dob}" required/> <br />
        </div>

        <div class="form-group">
            <label style="padding:15px 15px 0 0">Gender:
                <select class="form-control" th:field="*{gender}" required>
                    <option th:value="Male">Male</option>
                    <option th:value="Female">Female</option>
                </select>
            </label><br />
        </div>

        <div class="form-group">
            <label style="padding:15px 15px 0 0" for="deposit">Deposit</label>:
            <input type="number" step="0.01" id="deposit" min="0" class="form-control"
                   oninput="validity.valid||(value='')" placeholder="Deposit" th:field="*{deposit}" required/> <br />
        </div>

        <div class="form-group">
            <input type="submit" value="Register" class="btn btn-primary form-control" />
        </div>

    </form>


</body>
</html>